.idea
/temp*
/test/bootstrap.php
/lib/LAAF/bootstrap.php
/web/test
/web/doc

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
