language: php

php:
  - 5.3.3
  - 5.3
  - 5.4

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - cp test/bootstrap.php.tmpl test/bootstrap.php
  - cp lib/LAAF/bootstrap.php.tmpl lib/LAAF/bootstrap.php
  - chmod 777 web/travis.php
  - cp bin/httpd.py .
  - python httpd.py 8888 &
  - sleep 3
  - cd ./test

script: phpunit --colors --testdox

