language: php

php:
  - 5.3.3
  - 5.3
  - 5.4

before_script:
  - "export DISPLAY=:99.0"
  - sh -e /etc/init.d/xvfb start
  - sleep 3
  - cp test/bootstrap.php.tmpl test/bootstrap.php
  - cp lib/LAAF/bootstrap.php.tmpl lib/LAAF/bootstrap.php
  - chmod +x web/testindex.php
  - chmod +x index.php
  - cp bin/httpd.py .
  - python httpd.py 8888 &
  - sleep 3
  - ls -all web
  - wget -q -O- http://localhost:8888/index.php
  - cd ./test

