language: php

php:
  - 5.3.3
  - 5.3
  - 5.4

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - cp lib/LAAF/bootstrap.php.tmpl lib/LAAF/bootstrap.php
  - cp test/bootstrap.php.tmpl test/bootstrap.php
  - chmod 777 web/travis.php
  - python bin/httpd.py 8888 2> /dev/null &
  - sleep 3

script: phpunit -c test